#senders-manager {
    position: fixed;
    left: 50%;
    width: 700px;
    max-height: 250px;
    margin-left: -350px;
    z-index: 10000;
    top: 30%;
    background: #ffffff;
    
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#senders-manager #senders-panel {
    border-radius: 0px;
}

#senders-manager #senders-panel .panel-title {
    padding: 8px;
}

#senders-manager #senders-panel > .panel-body {
    overflow-y: scroll;
    height: 250px;
    padding: 0;
    margin: 0;
    width: 100%;
}

#senders-manager #senders-list {
    margin-bottom: 0;
}
#senders-manager #senders-list .item-icon {
    width: 25px;
}
#senders-manager #senders-list .item-icon > i {
    margin-left: 6px;
}
#senders-manager #senders-list .item-group-name,
#senders-manager #senders-list .item-sender-name,
#senders-manager #senders-list .item-letter-subject {
    cursor: pointer;
}
#senders-manager #senders-list .item-actions {
    width: 100px;
}

#senders-manager #senders-list > tbody > tr > td {
    padding: 12px 9px;
}